:root {
    /*these are the colors the app should have*/
    --secondary-color: #08342a;
    --accent-color: #dd5f40;
    --main-color:  #ffffff;

    /*these are the fonts and expected sizes for it*/
    --header-font: 'Poppins', sans-serif;
    --header-font-size: 64px;
    --header-font-weight: 600; /* Semibold */
  
    --subheader-font: 'Poppins', sans-serif;
    --subheader-font-size: 40px;
    --subheader-font-weight: 600; /* Semibold */
  
    --text-font: 'Open Sans', sans-serif;
    --text-font-size: 20px;
    --text-font-weight: 400; /* Regular */
  }
  
  header,.h1 {
    font-family: var(--header-font);
    font-size: var(--header-font-size);
    font-weight: var(--header-font-weight);
  }
  
  .subheader {
    font-family: var(--subheader-font);
    font-size: var(--subheader-font-size);
    font-weight: var(--subheader-font-weight);
  }
  
  p {
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    font-weight: var(--text-font-weight);
  }
  img{
    width: 150px;
    height: 150px;
  }
  .flexbox{
    display:flex
  }
  button {
    background-color: var(--accent-color); 
    border: 2px solid var(--accent-color); 
    padding: 15px 25px;
    font-family: var(--text-font);
    font-size: var(--text-font-size);
    cursor: pointer;
    outline: none;
}
button:hover {
    background-color:var(--accent-color); 
    color: var(--main-color);
}
  
.intro,.register-bottom{
    background-color: var(--secondary-color);
    color: var(--main-color);
}
.emergency-package{
    background-color: var(--accent-color);
    color: var(--main-color);
    padding: 100px;
}
.centered{
    margin:auto;
    width: 50%;
    text-align: center;
}
.padding-survival{
    padding: 20px 20px;
}
.register-bottom{
    padding: 100px 20px 200px 20px;
}
.survival-guide{
    padding: 70px;
}
.how-to-prepare{
    padding: 70px;
}
.intro{
    padding:100px;
}