<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="landingpage.component.css">
</head>
<body>
    <div class="flexbox intro">
        <div class="intro-style">
            <h1>Voorbereid zijn op een ramp</h1>
            <p>voor u en uw naasten</p>
            <button style="padding: 15px;">maak een account</button>
        </div>
        <img src="./images/xingchen-yan-RNlupvBsSXg-unsplash.jpg" style="margin-left: auto; width: 500px; height:800px; ">
    </div>
    <div class="how-to-prepare">
        <h2 class="centered" style="padding-bottom: 60px;">hoe wij u helpen voorbereiden</h2>
        <div class="flexbox centered" id="how-to-make-account">
            <img src="images/businessman-accountant-financial-advisor-or-banker-making-calculations.webp">
            <div>
                <h2>Maak uw account aan</h2>
                <p>Vul uw gegevens in, zodat wij een op maat gemaakt voedingsplan voor u kunnen maken.<br>
                Deze app kan gebruikt worden voor enkel u, maar ook uw gezin of vriendengroep!
                </p>
            </div>
        </div>
        <div class="flexbox centered" id="how-long-to-prepare-for">
            <div>
                <h2>Bepaal voor hoe lang u voorbereid wilt zijn</h2>
                <p>Wilt u een voorraad van 2 weken stokeren, of toch liever voor 3 maanden?<br>
                Stel in voor welk tijdsbestek u een voorraad in huis wilt hebben.
                </p>
            </div>
            <img src="images/white-sticky-note-with-2024-december-calendar-and-red-push-pin-on-yellow-background.webp">
        </div>
        <div class="flexbox centered" id="personal-preperations">
            <img src="images/preserved-vegetables-in-the-jars.webp">
            <div>
                <h2>Krijg een persoonlijk voorraadplan</h2>
                <p>Op basis van het aantal gezinsleden in uw groep ,de tijd waarvoor u wilt voorbereiden,<br> lichaamsbouw en dietvoorkeuren,
                <br>gaat deze app een overzicht geven van de hoeveelheid voedsel en water die u in huis zou moeten hebben.
                </p>
            </div>
        </div>
    </div>
    <div class="emergency-package">
        <h2 class="centered">Noodpakket</h2>
        <div class="flexbox centered">
            <img src="images/businessman-using-pen-to-tick-correct-sign-mark-on-virtual-checklist-for-quality-control-and.webp">
            <div>
                <p>De handige checklist geeft aan welke voorwerpen u in huis moet hebben in geval van een ramp.</p>
                
                <p>Baby's of huisdieren in uw groep? Daar houden we rekening mee en vullen de lijst aan naar uw situatie.</p>
            </div>
        </div>
    </div>
    <div class="survival-guide centered">
        <h2>Survivalhandleiding</h2>
        <p>In deze app vindt u verschillende survival tips en handleidingen, <br> waaronder de volgende:</p>
        <div class="flexbox centered" style="margin-top: 80px;">
            <img class="padding-survival" src="images/stacks-of-sandbags-outside-a-front-door-of-home-for-flooding.webp" style="width: 250px;">
            <img class="padding-survival" src="placeholder_circle.png" style="width: 200px;">
            <img class="padding-survival" src="placeholder_circle.png" style="width: 200px;">
        </div>
    </div>
    <div class="register-bottom">
        <div class="centered">
            <h2>Begin vandaag <br> met voorbereiden</h2>
            <button style="margin-top: 40px">Meld u nu aan</button>
        </div>
    </div>
    <footer>
        <p>contact:</p>
        <p>gemaakt door:</p>
    </footer>
</body>
</html>