<div class="check-item-input">
    <div>
      <h3>{{ itemName }}</h3>
      <p>Op voorraad:</p>
    </div>
    <div class="info-icon">
      <img src="icons/information.svg" alt="Information icon">
      <div class="info-bubble">
        <p>{{ infoText }}</p>
      </div>
    </div>
    <div class="adjust-amount">
      <button class="min-plus" (click)="increase()">+</button>
      <input type="text" [value]="quantity">
      <button class="min-plus" (click)="decrease()">-</button>
    </div>
</div>
