<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onboarding</title>
</head>
<style>

</style>
<body>
    <h1>Account instellen</h1>
    <p>Wat vragen over jou</p>
    <h2>Naam</h2>
    <input type="text">
    <h2>Leeftijd</h2>
    <input type="number">
    <h2>Gewicht</h2>
    <input type="number">
    <p>Je gewicht gebruiken we om je voedingsbehoefte te bepalen.</p>
    <button>Volgende</button>

</body>
</html>