<main>
    <nav>
        <div class="avatar-box">
            <a href="/profile"><img src="avatar-placeholder.png" alt="avatar image"></a>
            <p>{{user.name}}</p>
        </div>
    </nav>
    <section>
        <div class="options-container">
            <a href="">
                <div class="option-item">
                    <img src="icons/stock.svg" alt="">
                    <p>Voedselvoorraad beheren</p>
                </div>
            </a>
            <a href="/emergency-kit">
                <div class="option-item">
                    <img src="icons/first-aid-kit.svg" alt="">
                    <p>Noodpakket samenstellen</p>
                </div>
            </a>
            <a href="/profile">
                <div class="option-item">
                    <img src="icons/family.svg" alt="">
                    <p>Gezin beheren</p>
                </div>
            </a>
            <div class="option-item option-item-special">
                <img src="" alt="">
                <h3>Tips</h3>
                <p>Wist je dat je op ieder moment je voorkeuren kunt aanpassing in instellingen?</p>
            </div>
        </div>
        <div class="filler">

        </div>
    </section>

    <!-- ENKEL VOOR TESTING PURPOSES -->
    <section>
          <div>
            <h3>DIT IS ENKEL VOOR TESTING</h3>
            <p>Familieleden / groepsleden van {{user.name}}:</p>
        
            <div class="family-card-container">
                <div *ngIf="familyData().length > 0; else loading" class="family-cards">
                    <div *ngFor="let member of familyData()">
                      <!-- Card for each family member -->
                      <div class="family-card">
                        <p>{{ member.name }} {{ member.last_name }}</p>
                        <p> Dieet: {{member.diet}}</p>
                        <p> Geboortedatum: {{ member.date_of_birth}}</p>
                      </div>
                    </div>
                  </div>
            </div>

                  <ng-template #loading>
                    <p>Familiegegevens aan het ophalen...</p>
                  </ng-template>
             </div>
    </section>

    <div class="guides-container">
        <h3>Survivalhandleiding</h3>
        <div class="inner-guides-container">
            <div class="guide-item">
                <img src="images/navigating.jpg" alt="Woman holding a map and compass">
                <h4>Overleven 101</h4>
                <p>Tips om te overleven</p>
            </div>
            <div class="guide-item">
                <img src="images/foodjars.jpg" alt="Different foods in jars">
                <h4>Overleven 101</h4>
                <p>Tips om te overleven</p>
            </div>
            <div class="guide-item">
                <img src="images/moss.jpg" alt="Nature scene with a river flowing">
                <h4>Overleven 101</h4>
                <p>Tips om te overleven</p>
            </div>
        </div>
    </div>

</main>