<main>
    <nav>
        <a href="LINK NAAR PROFIEL"><img src="LINK NAAR AVATAR" alt=""></a>
    </nav>
    <section>
        <div class="options-container">
            <div class="option-item">
                <p>Voedselvoorraad samenstellen</p>
            </div>
            <div class="option-item">
                <p>Huidige voedselvoorraad</p>
            </div>
            <div class="option-item">
                Noodpakket samenstellen
            </div>
            <div class="option-item">
                Gezin beheren
            </div>
        </div>
        <div class="filler">

        </div>
    </section>


    <div class="guides-container">

    </div>
</main>