<main>
    <nav>
        <div class="avatar-box">
            <a href="LINK NAAR PROFIEL"><img src="avatar-placeholder.png" alt="avatar image"></a>
            <p>Username</p>
        </div>
    </nav>
    <section>
        <div class="options-container">
            <a href="">
                <div class="option-item">
                    <img src="icons/checklist.svg" alt="">
                    <p>Voedselvoorraad samenstellen</p>
                </div>
            </a>
            <a href="">
                <div class="option-item">
                    <img src="icons/stock.svg" alt="">
                    <p>Huidige voedselvoorraad</p>
                </div>
            </a>
            <a href="">
                <div class="option-item">
                    <img src="icons/first-aid-kit.svg" alt="">
                    <p>Noodpakket samenstellen</p>
                </div>
            </a>
            <a href="">
                <div class="option-item">
                    <img src="icons/family.svg" alt="">
                    <p>Gezin beheren</p>
                </div>
            </a>
        </div>
        <div class="filler">

        </div>
    </section>

    <div class="guides-container">
        <h3>Survivalhandleiding</h3>
        <div class="inner-guides-container">
            <div class="guide-item">
                <img src="images/navigating.jpg" alt="Woman holding a map and compass">
                <h4>Overleven 101</h4>
                <p>Tips om te overleven</p>
            </div>
            <div class="guide-item">
                <img src="images/foodjars.jpg" alt="Different foods in jars">
                <h4>Overleven 101</h4>
                <p>Tips om te overleven</p>
            </div>
            <div class="guide-item">
                <img src="images/moss.jpg" alt="Nature scene with a river flowing">
                <h4>Overleven 101</h4>
                <p>Tips om te overleven</p>
            </div>
        </div>
    </div>

</main>