<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onboarding</title>
</head>
<style>

</style>
<body>
    <div class="wrapper">
        <div class="leftpane">
            <h1>Bedankt!</h1>
            <h2>Op basis van je gegevens heb je het volgende nodig:</h2>
            <h3>Voedsel</h3>
            <p>{{ result() }} kcal</p>
            <h3>Water</h3>
            <p>{{ water() }}L</p>
            <button type="submit">Verder</button>
        </div>
        <div class="rightpane">
            <h3></h3>
        </div>
    </div>

</body>
</html>