
<div class="landing-page">
    <div class="flexbox intro">
        <div class="intro-style">
            <h1>Voorbereid zijn op een ramp</h1>
            <p>voor u en uw naasten</p>
            <a href="/register">
                <button routerLink="/login" style="padding: 15px;">maak een account</button>
            </a> 
        </div>
        <img src="./images/mountain.jpg" style="margin-left: auto; width: 500px; height:800px; ">
    </div>
    <div class="how-to-prepare">
        <h2 class="centered" style="padding-bottom: 60px;">hoe wij u helpen voorbereiden</h2>
        <div class="flexbox centered" id="how-to-make-account">
            <img src="images/make_account_circle.png">
            <div>
                <h2>Maak uw account aan</h2>
                <p>Vul uw gegevens in, zodat wij een op maat gemaakt voedingsplan voor u kunnen maken.<br>
                Deze app kan gebruikt worden voor enkel u, maar ook uw gezin of vriendengroep!
                </p>
            </div>
        </div>
        <div class="flexbox centered" id="how-long-to-prepare-for">
            <div>
                <h2>Bepaal voor hoe lang u voorbereid wilt zijn</h2>
                <p>Wilt u een voorraad van 2 weken stokeren, of toch liever voor 3 maanden?<br>
                Stel in voor welk tijdsbestek u een voorraad in huis wilt hebben.
                </p>
            </div>
            <img src="images/timing_circle.png">
        </div>
        <div class="flexbox centered" id="personal-preperations">
            <img src="images/food_supplies_circle.png">
            <div>
                <h2>Krijg een persoonlijk voorraadplan</h2>
                <p>Op basis van het aantal gezinsleden in uw groep ,de tijd waarvoor u wilt voorbereiden,<br> lichaamsbouw en dietvoorkeuren,
                <br>gaat deze app een overzicht geven van de hoeveelheid voedsel en water die u in huis zou moeten hebben.
                </p>
            </div>
        </div>
    </div>
    <div class="emergency-package">
        <h2 class="centered">Noodpakket</h2>
        <div class="flexbox centered">
            <img src="images/logo.png" style="fill: white;">
            <div>
                <p>De handige checklist geeft aan welke voorwerpen u in huis moet hebben in geval van een ramp.</p>
                
                <p>Baby's of huisdieren in uw groep? Daar houden we rekening mee en vullen de lijst aan naar uw situatie.</p>
            </div>
        </div>
    </div>
    <div class="survival-guide centered">
        <h2>Survivalhandleiding</h2>
        <p>In deze app vindt u verschillende survival tips en handleidingen, <br> waaronder de volgende:</p>
        <div class="flexbox centered" style="margin-top: 80px;">
            <div class="inner-guides-container">
                <a href="/register">
                <div class="guide-item">
                    <img src="images/navigating.jpg" alt="Woman holding a map and compass">
                    <h4>Overleven 101</h4>
                    <p>Tips om te overleven</p>
                </div>
            </a>
                <a href="/register">
                <div class="guide-item">
                    <img src="images/foodjars.jpg" alt="Different foods in jars">
                    <h4>Overleven 101</h4>
                    <p>Tips om te overleven</p>
                </div>
            </a>
                <a href="/register">
                <div class="guide-item">
                    <img src="images/moss.jpg" alt="Nature scene with a river flowing">
                    <h4>Overleven 101</h4>
                    <p>Tips om te overleven</p>
                </div>
            </a>
            </div>
        </div>
    </div>
    <div class="register-bottom">
        <div class="centered">
            <h2>Begin vandaag <br> met voorbereiden</h2>
            <a href="/register">
                <button routerLink="/login" style="margin-top: 40px">Meld u nu aan</button>
            </a>
        </div>
    </div>
    <footer>
        <p>contact:</p>
        <br>
        <p>gemaakt door: Bernard, Lisa, Killian</p>
    </footer>
</div>