<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onboarding</title>
</head>
<style>

</style>
<body>
    <div class="wrapper">
        <div class="leftpane">
            <div class="content">
                <div class="avatar-box">
                    <a href="/profile"><img src="images/standard_profile.jpg" alt="avatar image"></a>
                    <p>user name</p>
                </div>
                <button type="button" (click)="showAccount()">accountgegevens</button>
                <button type="button" (click)="showFamily()">familie beheren</button>
            </div>
            <div class="logout">
                <button type="button" (click) = "logout()">Uitloggen</button>
            </div>

        </div>
        <div class="rightpane">
            @if (accountVisible) {
                <form [formGroup]="profileForm" (ngSubmit)="saveChanges()">
                    <label for="userName">Naam</label>
                    <input type="text" id="userName" formControlName="userName" required>

                    <label for="email">E-mail</label>
                    <input type="text" id="email" formControlName="email" required>

                    <button type="submit" [disabled]="profileForm.invalid">Wijzigingen opslaan</button>
                </form>

                <form [formGroup]="passwordForm" (ngSubmit)="saveNewPassword()">
                    <h2>Wachtwoord</h2>

                    <label for="currentPassword">Huidig wachtwoord</label>
                    <input type="password" id="currentPassword" formControlName="currentPassword" required>

                    <label for="newPassword">Nieuw wachtwoord</label>
                    <input type="password" id="newPassword" formControlName="newPassword" required>
                    
                    <label for="repeatPassword">Nieuw wachtwoord herhalen</label>
                    <input type="password" id="repeatPassword" formControlName="repeatPassword" required>

                    @if (currentPasswordError()) {
                        <p style="color: red;">Huidig wachtwoord is incorrect.</p>
                    }

                    @if (passwordMatchError()) {
                        <p style="color: red;">Wachtwoorden komen niet overeen.</p>
                    }

                    <button type="submit" [disabled]="passwordForm.invalid">Wijzigingen opslaan</button>
                </form>
            }
            @else if (familyVisible) {
                <h2>Familie beheren</h2>

                <div class="family-card-container">
                    @if (familyData().length > 0) {
                      @for (person of familyData(); track person.id) {
                        <!-- Card for each family member -->
                        <button type="button" class="family-card" (click)="editPerson(person)">
                          <p>{{ person.name }} {{ person.last_name }}</p>
                          <p>Dieet: {{ person.diet }}</p>
                          <p>Geboortedatum: {{ person.date_of_birth }}</p>
                        </button>
                      }
                    }
                  </div>

                <div>
                <form #personen="ngForm">
                    <label for="voornaam">Voornaam</label>
                    <input type="text" id="voornaam" [(ngModel)]="formData.name" name="voornaam" required />
    
                    <label for="familienaam">Familienaam</label>
                    <input type="text" id="familienaam" [(ngModel)]="formData.last_name" name="familienaam" required />
    
                    <label for="gender">Geslacht</label>
                    <select id="gender" [(ngModel)]="formData.gender" name="dieet">
                        <option value="male">Man</option>
                        <option value="female">Vrouw</option>
                    </select>
    
                    <label for="geboortedatum">Geboortedatum</label>
                    <input type="date" id="geboortedatum" [(ngModel)]="formData.date_of_birth" name="geboortedatum" required />
    
                    <label for="hoogte">Hoogte</label>
                    <input type="number" id="hoogte" [(ngModel)]="formData.height" name="hoogte" required />
    
                    <label for="gewicht">Gewicht</label>
                    <input type="number" id="gewicht" [(ngModel)]="formData.weight" name="gewicht" required />
                    <p><em>gewicht gebruiken we om je voedingsbehoefte te bepalen.</em> </p>
    
                    <label for="dieet">Dieet</label>
                    <select id="dieet" [(ngModel)]="formData.diet" name="dieet">
                        <option value="geen">Geen specifiek dieet</option>
                        <option value="vegetarisch">Vegetarisch</option>
                        <option value="vegan">Vegan</option>
                    </select>
    
                    <button type="button" (click)="addPerson()" [disabled]="!personen.valid">Voeg toe</button>
                    <button type="button" (click)="deleteMember()" >Verwijder persoon</button>
                    <button type="button" (click)="sendAllMembers()">Bevestig</button>
                </form>
            </div>
            }

        </div>
    </div>

</body>
</html>
