<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>onboarding</title>
</head>
<style>

</style>
<body>
    <div class="wrapper">
        <div class="leftpane">
            <div class="content">
                <h1>Wil je mensen toevoegen aan je groep?</h1>
                <p>Familieleden, huisgenoten en voorbereidingsgenoten</p>
            </div>
            <button (click)="navigateToPersonen()">Ja, graag</button>
            <button (click)="navigateToDuur()">Nee, ik gebruik de app voor mezelf</button>
        </div>
        <div class="rightpane">
            <h3>When the snows fall and the white winds blow, the lone wolf dies but the pack survives.</h3>
            <p>George R.R. Martin</p>
        </div>
    </div>

</body>
</html>